@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Administrator: @ViewData["Owner"]</p>

<address>
    <b>More information: </b><a href="https://www.google.com/">google.com.br </a>
</address>